<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LanLa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>lanla</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.587246692184-vj9qu34f5vn9kvl6jvq8tnl0b138skse</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lanla</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb406767168266770</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>406767168266770</string>
	<key>FacebookClientToken</key>
	<string>CLIENT-TOKEN</string>
	<key>FacebookDisplayName</key>
	<string>LanLa</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://lanla.page.link</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3760009728541770~4798521527</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg</string>
		<string>whatsapp</string>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>لإتقاط الصور وتسجيل مقاطع الفيديو للتحميل والمشاركة</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>تحتاج إلى توفير معلومات الموقع من أجل دفع أحدث محتوى مثير في مكان قريب بدقة</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>اقترح محتوى قريب لك وشاركه مع الأشخاص القريبين منك</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>تحتاج إلى توفير معلومات الموقع من أجل دفع أحدث محتوى مثير في مكان قريب بدقة</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>نحتاج إلى ميكروفونك وأصدقائك لمشاركة صوتك</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>يرجى السماح التطبيق حفظ الصور إلى الألبوم</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يرجى السماح بالوصول إلى جميع الصور لمزيد من الحرية في الإنشاء والتحميل والتنزيل والمشاركة</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
